<div class="row">
	
	<!-- LEFT PANEL -->
	<div class="col-md-offset-1 col-md-4">

		<div class="list-group">
				<!-- SEARCH TOOL -->
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</div>
			      <input type="text" ng-model="searchTask" class="form-control" placeholder="Search">
			    </div>	
				</div>
				
				<!-- TASK LIST -->	
				<a ng-repeat="task in tasks | filter: {title: searchTask , status: '!cancelled'} | orderBy: 'datetime':true" ng-href="#/browse/{{task.$id}}">
					<div class="list-group-item">
				        <div class="row-picture">
				            <img class="circle" ng-src="{{task.gravatar}}">
				        </div>
				        <div class="row-content">
				            <h4 class="list-group-item-heading">{{task.title | limitTo:25}}{{ task.title.length > 25? "..." : ""}}</h4>
				            <span class="list-group-item-text">
				            	<span am-time-ago="task.datetime"></span>
				            </span>		            
				        </div>
				        <div class="payment">
				        	<div>${{task.total}}</div>
				        	<span class="label status {{task.status}}">{{task.status}}</span>		        	
				        </div>
				    </div>		    
			    	<div class="list-group-separator"></div>
		    	</a>
		</div>

	</div>

	<!-- RIGHT PANEL -->
	<div class="col-md-6">
		<div ng-show="listMode">
			<img src="images/browse.jpg" class="img-responsive img-browse">
		</div>
		
		<div ng-show="!listMode">
			
			<!-- HEADER -->
			<div class="row">
				<div class="col-md-8">
					<h3>{{ selectedTask.title }}</h3>
					<span>
						<img ng-src="{{ selectedTask.gravatar }}" class="img-circle gravatar">
						Posted by {{selectedTask.name}} -
						<span am-time-ago="selectedTask.datetime"></span>&nbsp;
						<span class="label status {{selectedTask.status}}">{{ selectedTask.status }}</span>
					</span>								
				</div>
				
				<div class="col-md-4 title">
					<div class="price-tag">
						${{ selectedTask.total }}
						
						<div ng-show="isTaskCreator(selectedTask) && isOpen(selectedTask)">
							<div class="btn-group">
							    <a href="" class="btn btn-warning">Admin</a>
							    <a href="" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
							    <ul class="dropdown-menu">
							        <li><a href="" data-toggle="modal" data-target="#ediModal">EDIT TASK</a></li>							        
							        <li class="divider"></li>
							        <li><a href="" ng-click="cancelTask(selectedTask.$id)">CANCEL TASK</a></li>
							    </ul>
							</div>
						</div>

						<div ng-show="isOpen(selectedTask) && !isTaskCreator(selectedTask) && !alreadyOffered">
							<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#offModal">Make an Offer</button>
						</div>

						<div ng-show="isAssignee(selectedTask) && !isCompleted(selectedTask)">
							<button class="btn btn-danger btn-sm" ng-click="completeTask(selectedTask.$id)">Complete</button>
						</div>

					</div>
				</div>
			</div>

			<br>

			<!-- DESCRIPTION -->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					    <div class="panel-heading">
					        <h3 class="panel-title">Description</h3>
					    </div>
					    <div class="panel-body">
					        {{ selectedTask.description }}
					    </div>
					</div>			
				</div>	
			</div>

			<!-- OFFERS -->			
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					    
					    <div class="panel-heading">
					        <h3 class="panel-title">Offers</h3>
					    </div>
					    
					    <div class="panel-body">		
								
								<div class="title" ng-hide="offers && offers.length > 0">
									<span>NO OFFER FOR THIS TASK YET</span>	
								</div>	

								<div class="row" ng-repeat="offer in offers">
									<div class="col-md-10">
										<button ng-show="offer.accepted" class="btn btn-success btn-xs disabled">Assigned</button>
										
										<button ng-show="isTaskCreator(selectedTask) && isOpen(selectedTask)" class="btn btn-info btn-xs" ng-click="acceptOffer(offer.$id,offer.uid)">Accept - ${{offer.total}}</button>											
										<button ng-show="isOfferMaker(offer) && isOpen(selectedTask)" class="btn btn-danger btn-xs" ng-click="cancelOffer(offer.$id)">Cancel My Offer - ${{offer.total}}</button>

										<img ng-src="{{offer.gravatar}}" class="img-circle offer gravatar">
										<span>{{offer.name}}</span>
									</div>
								</div><br>

					    </div>
					</div>			
				</div>	
			</div>

			<!-- COMMENTS -->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					    
					    <div class="panel-heading">
					        <h3 class="panel-title">Comments</h3>
					    </div>
					    
					    <div class="panel-body">

					    	<div class="title" ng-hide="comments && comments.length > 0">
									<span>NO COMMENT ABOUT THIS TASK</span>	
								</div><br>

								<div class="row" ng-repeat="com in comments">
									<div class="col-md-1">					
										<img ng-src="{{com.gravatar}}" class="img-circle comment gravatar">
									</div>
									<div class="col-md-11">
										<div class="well well-sm cmt">
											<span class="cmt-title">{{com.name}}:</span>
											<span class="cmt-time pull-right"><span am-time-ago="com.datetime"></span></span><br>

									    <span>{{com.content}}</span>
										</div>
									</div>									
								</div><br>

								<div class="row" ng-show="isOpen(selectedTask)">
									<div class="col-md-12">
										<form ng-submit="addComment()">	

											<div class="input-group">
												<div class="input-group-addon">
													<img ng-src="{{ user.profile.gravatar }}" class="img-circle comment gravatar">
												</div>
									      <input type="text" ng-model="content" cols="10" rows="3" class="form-control" placeholder="Comment here..." required><br>
									    </div>

											<span class="pull-right">
												<input type="submit" class="btn btn-info" value="Comment">
											</span>
										</form>
									</div>
								</div>

					    </div>

					</div>			
				</div>	
			</div>
			
	</div>

</div>

<div ng-include="'views/partials/edit.html'"></div>
<div ng-include="'views/partials/offer.html'"></div>